<template >
  <h1 v-if="title" class="title" :style="{fontSize: titleSize, lineHeight:titleSize}">{{title}}</h1>
	<div class="grid" :class="{ gridSinTitulo: !title }">
		<slot/>
	</div>
</template>
<script>
export default {
  props:{
    title: String,
		titleSize: {
			type: [String, Number],
			default: "2em"
		},
  }

}
</script>
<style lang="css" scoped>
* {
	box-sizing: border-box;
}
.grid {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows:  100%;

	height: Calc(100% - 70px);
	grid-gap: 15px;
	padding: 5px !important;
	overflow: hidden;
	width: 100% !important;
}

.gridSinTitulo {
	height: Calc(100%) !important;
}


@media (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(12, calc(100% / 12 - 15px));
		grid-template-rows: repeat(6, calc(100% / 6 - 14px) );
	}
}

h1.title {
  margin: 2px;
  background-color:rgba(137, 43, 226, 0.13);
  height: 50px;
}

</style>