<template>
	<el-container  ref="mainRef" class="mind-report-body" >
		<el-header class="report-header">
			<h1 class="report-title" >{{reportTitle}}</h1>
			<div  class="mind-report-toolbar" >
				<slot name="filters" />
				<div style="flex-grow:1"></div>
				<div style="" class="no-wrap" v-if="ready">
					<!-- <el-button size="small" type="primary" @click="exportPDF" title="Exportar a PDF">
						<el-icon>
							<icon-pdf />
						</el-icon>
					</el-button> -->
					<el-button v-if="printable" size="small" type="primary" @click="print" title="Imprimir">
						<el-icon>
							<Printer />
						</el-icon>
					</el-button>
					<el-button v-if="exportableXls" size="small" type="primary" @click="exportExcel" title="Exportar a Excel">
						<el-icon>
							<icon-xls />
						</el-icon>
					</el-button>
				</div>
			</div>
		</el-header>
		<el-divider></el-divider>
		<el-main  v-if="ready" class="report-main">
			<template v-if="headerData">
				<section class="report-main-header">
					<slot name="header" :header="headerData" />
				</section>
				<el-divider></el-divider>
			</template>
			<section class="report-main-body" :style="horizontal ? 'display:flex;flex-wrap:nowrap': ''">
				<section class="report-table-container" :style="horizontal ? 'flex-grow:1;margin-right:20px': ''">
					<el-table :data="data"
						style="width: 100%"
						empty-text="No hay datos"
						stripe size="small"
						cell-class-name="mind-report-cell">
						<slot ></slot>
					</el-table>
				</section>
				<div class="page-break" v-if="!horizontal"></div>
				<section v-if="chart " class="report-chart-container" :style="`width:${chartWidth ||'40%'};height:${chartHeight};margin-left:20px;`">
					<mind-widget-chart ref="chartRef"
						:type="chartType"
						:data="ChartData" :options="chartOptions"
						dynamic-data :item-label="chartItemLabel" :item-value="chartItemValue" :item-dataset="chartItemDataset"
						:background-colors="chartColors"
						/>
				</section>
			</section>
		</el-main>
	</el-container>
</template>
<script>

const exceljs = require("exceljs");

import {onMounted, ref, watchEffect, computed} from 'vue'
import { Printer } from '@element-plus/icons-vue'

import {iconXls } from '../icons'
export default {
	components: {
		Printer,
		iconXls,
		// iconPdf,
	},
	name: "mind-report",
	props: {
		reportTitle: String,
		data: [Object,Array],
		/**
		 * incia que el reporte está listo para exportar
		 */
		ready: Boolean,

		exportableXls: Boolean,
		exportablePdf: Boolean,
		printable: Boolean,

		chartData: [Object,Array],
		headerData: Object,
		chart: Boolean,
		chartType: {
			required: true,
			type: String
		},
		chartOptions: {
			type: Object,
			default: () => ({})
		},
		chartItemLabel: String,
		chartItemValue: [String, Array, Object],
		chartItemDataset: String,
		chartColors: {
			type:Array,
			default: () => []
		},
		chartWidth: String,
		chartHeight: String,
		horizontal: Boolean,


	},
	setup(props){
		const chartRef = ref(null)
		const mainRef = ref(null)


		const ChartData = computed(()=>{
			return props.chartData || props.data
		})


		function update() {
			if(chartRef.value) {
				chartRef.value.update()
			}
		}

		/**
		 * Incia proceso de impresión
		 */
		function print() {
			setTimeout(()=>{ window.print() }, 100)
		}


		const chartImagen = computed(()=>{
			return chartRef.value ? chartRef.value.toBase64Image('image/png', 1) : null
		})

		/**
		 * Exporta el reporte como PDF
		 */
		async function exportPDF() {
			/*
			const doc = new jsPDF();

			doc.html(document.body, {
				callback: function (doc) {
					doc.save(`${props.reportTitle}.pdf`);
				},
				x: 10,
				y: 10,
				width: 240,
			});
		*/
		}

		/**
		 * exporta el reporte como excel
		 */
		async function exportExcel() {
				const workbook = new exceljs.Workbook();

				const sheet = workbook.addWorksheet("Datos", {
					views: [{state: 'frozen', ySplit: 1, activeCell: 'A1', showGridLines: false }],
					pageSetup:{ paperSize:9, orientation:'landscape' },
				})

				sheet.properties.defaultRowHeight = 20;

				// for(const k of Object.keys(props.headerData)) {
				// 	const hRow = []
				// 	for(let c = 0; c < 2; c++) {
				// 		hRow.push(props.headerData[k])
				// 	}
				// 	console.log(hRow)
				// }



				let columnas = []
				for (let i of Object.keys(props.data[0])){
					columnas.push({key: i, header:i, width:25,
						style:{
							font: {
								name: 'Calibri',
								family: 2,
								size: 11,
								underline: false,
								bold: false,
							},
							border: {
								top:{style:'thin', color:{argb:'a4a4a4'}},
								left:{style:'thin', color:{argb:'a4a4a4'}},
								bottom:{style:'thin', color:{argb:'a4a4a4'}},
								right: {style:'thin', color:{argb:'a4a4a4'}}
							},
							alignment: {
								vertical: 'middle',
								horizontal: 'left',
								wrapText: true

							},
						}
					})
				}
				sheet.columns = columnas

				for (let i of props.data){
					sheet.addRow(i)
				}

				let row = sheet.getRow(1)

				// estilos de titulos
				for (let c=1;c<=columnas.length;c++){
					row.getCell(c).font = {
					bold: true
					};
					row.getCell(c).alignment = {
						vertical: 'middle',
						horizontal: 'center',
						wrapText: true
					};

					row.getCell(c).fill = {
						type: 'pattern',
						pattern:'solid',
						fgColor:{argb:'f6f8fa'},
						bgColor:{argb:'f6f8fa'}
					};

				}

				//agregar grafico
				if(chartImagen.value) {
					// const image = chartRef.value.toBase64Image('image/png', 1)
					const imageId = workbook.addImage({
						base64: chartImagen.value,
						extension: 'png',
					});
					const {width, height} = chartRef.value.getCanvasSize()
					sheet.addImage(imageId, {
						tl: { col: columnas.length +1, row: 1 },
						ext: { width: width, height: height }
					});
				}

				const buffer = await workbook.xlsx.writeBuffer();
				const fileType = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';

				const blob = new Blob([buffer], {type: fileType});

				const a    = document.createElement('a')
				a.download = `${props.reportTitle}.xlsx`
				a.href = window.URL.createObjectURL(blob)
				a.dataset.downloadurl =  [fileType, a.download, a.href].join(':')
				a.click()
		}

		watchEffect(() => {
			props.data
			props.chartData
			update()
		})

    onMounted(() => {
			update()
    });

		return {
			chartRef,
			mainRef,
			update,
			exportExcel,
			exportPDF,
			print,
			chartImagen,
			ChartData
		}
	},

}
</script>
<style lang="css" scoped>
	section {
		margin-bottom: 20px;
	}
	.report-chart-container {
		/* height: calc(100vh - 200px); */
		overflow: hidden;
	}

	.mind-report-toolbar {
		display:flex;
		flex-wrap:nowrap
	}

	.no-wrap {
	flex-wrap: nowrap !important;
}


	.report-main-body {
		width: 100%;
	}

	@media print {
		.mind-report-body {
			position:fixed;
			background-color: white;
			top: 0;
			left: 0;
			z-index: 10000;
			height: 100%;
			width:100%;
			margin: 0;
			padding: 0;
			overflow: auto;
		}
		.mind-report-toolbar {
			display:none;
		}
		.report-chart-container {
			flex-grow: 2 !important;
			flex-shrink: 1  !important;
			/* width: auto !important; */
		}
		.report-table-container {
			flex-grow: 0 !important;
			flex-shrink: 1  !important;
			color: red !important;
		}
		.report-main-body {
			width: 100vw;
		}

		.page-break {
			page-break-after:always;
		}
	}


</style>

<style lang="css">
	.mind-report-cell {
		padding: 2px 0px !important;
	}
	.report-header {
		height: 80px !important;
		overflow: hidden;
		margin-top: 20px;
	}
	h1.report-title {
		font-size: var(--el-font-size-extra-large);
		text-align:center;
		padding: 0px;
		margin-top: 2px;
		margin-bottom: 10px;
	}

	.mind-report-body .el-descriptions__label {
		width: 150px;
		display: inline-block;
		font-weight: bold;
	}


		.el-table__header,
		.el-table__body,
		.el-table {
			width: auto !important;
		}


</style>